{% load static %}
<section class="mh-about" id="mh-about">
    <div class="container">
        <div class="row section-separator">
            <div class="col-sm-12 col-md-6">
                <div class="mh-about-img shadow-2 wow fadeInUp" data-aos="fade-right" data-aos-duration="1000">
                    <img src="{% static 'images/about-image.jpg' %}" style="width: 85%;" alt="" class="img-fluid son">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="mh-about-inner" data-aos="fade-left" data-aos-duration="1000">
                    <h2 class="cds">Hello, I Am <span style="color: rgb(53 113 142);">Anuj Kaushik</span></h2>
                    <p class="mt-4">Hello, I’m a Anuj, web-developer based on Delhi.
                        I have rich experience in web site design &amp; building
                        and customization.I have serious passion for Website Design, animations and creating intuitive, dynamic user experiences.</p>
                    <div class="about_details">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ct_about">
                                    <span> Name </span> : Anuj Kaushik
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="ct_about">
                                    <span> Age </span>
                                    : 24
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="ct_about">
                                    <span> Address </span>
                                    : Meerut, India
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="ct_about">
                                    <span> Phone Number </span>
                                    : 7060781973
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="ct_about">
                                    <span> Email </span>
                                    : anujkaushik380@gmail.com
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="" class="btn btn-fill wow fadeInUp">Downlaod CV <i class="fa fa-download"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
