{% load static %}
 <!--Blog Area -->
    <div class="blog-area section-padding top" data-scroll-index="5" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center m-b-65">
                        <h2>My Blog <b>.</b></h2>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <!-- signle blog-->
                <div class="col-md-4">
                    <div class="single-blog" data-aos="fade-right" data-aos-duration="1000">
                        <img src="{% static 'images/blog1.jpg' %}" alt="">
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><i class="fa fa-calendar"></i>29 April 2019</li>
                                    <li><i class="fa fa-user-o"></i>Admin</li>
                                    <li><i class="fa fa-bookmark-o"></i>design</li>
                                </ul>
                            </div>
                            <a href="#"><h2>Features include a centrally-divided .....</h2></a>
                        </div>
                    </div>
                </div>
                <!-- /signle blog-->
                <!-- signle blog-->
                <div class="col-md-4">
                    <div class="single-blog" data-aos="fade-top" data-aos-duration="1000">
                        <img src="{% static 'images/blog2.jpg' %}" alt="">
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><i class="fa fa-calendar"></i>29 April 2019</li>
                                    <li><i class="fa fa-user-o"></i>Admin</li>
                                    <li><i class="fa fa-bookmark-o"></i>design</li>
                                </ul>
                            </div>
                            <a href="#"><h2>Features include a centrally-divided .....</h2></a>
                        </div>
                    </div>
                </div>
                <!-- /signle blog-->
                <!-- signle blog -->
                <div class="col-md-4">
                    <div class="single-blog" data-aos="fade-left" data-aos-duration="1000">
                        <img src="{% static 'images/blog3.jpg' %}" alt="">
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><i class="fa fa-calendar"></i>29 April 2019</li>
                                    <li><i class="fa fa-user-o"></i>Admin</li>
                                    <li><i class="fa fa-bookmark-o"></i>design</li>
                                </ul>
                            </div>
                            <a href="#"><h2>Features include a centrally-divided .....</h2></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

