{% load static %}
<!-- Education -->
<div id="work">
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-6">
                <div data-aos="fade-right" data-aos-duration="1000">
                    <div id="horizontal-p">
                        <p id="verticalstext">
                            Working <br> to be <br> <span>Stronger</span>
                        </p>
                        <div>
                            <img src="{% static 'images/fff.gif' %}" width="357">
                        </div>
                    </div>
                    <div id="journeys">
                        <p>
                            Journey to become <span>Full Stack developer</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 edu">
                <h2>Work & Others</h2>
                <div class="education-container wow fadeInRight" data-aos="fade-left" data-aos-duration="1000">
                    <ul class="edu-list experience">
                        <li>
                            <h5>Bombay Softwares </h5>
                            <strong>2019 - 2020</strong>
                            <p>My first job. I worked as a junior web developer and added
                                new tools to my toolbelt
                            <ul>
                                <li>Revamped a real-time TV ratings web UI and developed its admin panel</li>
                                <li>Worked on dashboard of an experimental project about TV ratings forecast and visualisation</li>
                            </ul>
                            </p>
                        </li>
                        <li>
                            <h5>Durgasoft Software Solutions, Hyderabad </h5>
                            <strong>2017 - 2018</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Enim eveniet incidunt quidem illum repellat, a nemo cumque optio asperiores
                                tempora delectus cupiditate</p>
                        </li>
                        <li>
                            <h5>College Of Engineering Roorkee </h5>
                            <strong>2015 - 2019</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Enim eveniet incidunt quidem illum repellat, a nemo cumque optio asperiores
                                tempora delectus cupiditate</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
