    <!-- ==================================Frelance Section ====================-->
    <div class="cta-area pd-50 top">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="cta-text text-left">
                        <h2>I Am Available For Freelancer. </h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="cta-btn">
                        <a class="cta" href="#">Hire Me Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================== End Freelance Section ======================-->
