   <!--========================== What do i do========================== -->
    <div class="service-area two section-padding top" id="service" data-scroll-index="3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="section-title text-center m-b-65">
                        <h2>What i do <b>.</b></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Service-->
                <div class="col-md-4">
                    <div class="single-service two"><i class="fa fa-laptop" aria-hidden="true"></i>
                        <h2>Website Design</h2>
                        <p>A software engineer based in Boston, MA who enjoys building things that live on the internet
                            exceptional</p>
                    </div>
                </div>
                <!-- /Single Service-->
                <!-- Single Service-->
                <div class="col-md-4">
                    <div class="single-service two"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        <h2>Backend Development</h2>
                        <p>A software engineer based in Boston, MA who enjoys building things that live on the internet
                            exceptional</p>
                    </div>
                </div>
                <!-- /Single Service-->
                <!-- Single Service-->
                <div class="col-md-4">
                    <div class="single-service two"><i class="fa fa-code" aria-hidden="true"></i>
                        <h2>SEO</h2>
                        <p>A software engineer based in Boston, MA who enjoys building things that live on the internet
                            exceptional</p>
                    </div>
                </div>
                <!-- /Single Service-->
            </div>
        </div>
    </div>